TEMA 1: INTRODUCCIÓN A LOS LENGUAJES DE MARCAS. XML/U1_T2_DTD/Ejercicio 4/DTD externa/matricula.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT matricula (personal, pago)>
<!ELEMENT personal (dni, nombre, titulacion, curso_academico, domicilios+)>
<!ELEMENT pago (tipo_matricula)>
<!ELEMENT domicilios (domicilio)+>
<!ELEMENT domicilio (nombre)>
<!ELEMENT dni (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT titulacion (#PCDATA)>
<!ELEMENT curso_academico (#PCDATA)>
<!ELEMENT tipo_matricula (#PCDATA)>
<!ATTLIST domicilio tipo (familiar|habitual) #REQUIRED>
